{% extends "base.html" %}

{% block content %}

<table class="table table-hover" style="text-align: center;">
  <caption>List of tasks</caption>
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Title</th>
      <th scope="col">Close</th>
      <th scope="col">Detail</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
  {% for instance in object_list %}
    <tr>

      <th scope="row">{{ instance.id }}</th>

        {% if instance.color == 0 %}
      <td class="p-3 mb-2 bg-light text-dark"> {{ instance.title }}</td>
        {% elif instance.color == 1 %}
      <td class="p-3 mb-2 bg-white text-dark"> {{ instance.title }}</td>
        {% elif instance.color == 2 %}
      <td class="p-3 mb-2 bg-primary text-white"> {{ instance.title }}</td>
        {% elif instance.color == 3 %}
      <td class="p-3 mb-2 bg-danger text-white"> {{ instance.title }}</td>
        {% elif instance.color == 4 %}
      <td class="p-3 mb-2 bg-warning text-dark"> {{ instance.title }}</td>
        {% endif %}

        {% if instance.status == 1 %}
          <td>
            <a type="button" class="btn btn-success" href='{{ instance.get_absolute_url }}/close'>
                <i class="fa fa-check-square" aria-hidden="true"></i>
            </a>
          </td>
        {% elif instance.status == 2 %}
          <td>
            <a class="btn btn-secondary">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </a>
          </td>
        {% endif %}
      <td>
      	<a type="button" class="btn btn-info" href='{{ instance.get_absolute_url }}'>
      		<i class="fa fa-plus" aria-hidden="true"></i>
      	</a>
      </td>

      <td>
      	<a type="button" class="btn btn-warning" href='{{ instance.id }}/update'>
      		<i class="fa fa-pencil" aria-hidden="true"></i>
      	</a>
      </td>

      <td>
      	<a type="button" class="btn btn-danger" href='{{ instance.id }}/delete'>
      		<i class="fa fa-trash-o" aria-hidden="true"></i>
      	</a>
      </td>

    </tr>
  {% endfor %}
  </tbody>

</table>

{% endblock %}