{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}

{% block content %}


<div class="card bg-light mb-3">
    <p class="{{color}} card-header">
        {{ object.title }}
    </p>

      <div class="card-body">
        <p class="card-text">{{ object.description }}</p>
      </div>
</div>

  <div class="row">

    <div class="col-md-6">
        {% if object.status == 1 %}
                <a type="button" class="btn btn-outline-success" href="{{ object.id }}/close">Close task</a>
        {% endif %}
                <a type="button" class="btn btn-outline-primary" href="{{ object.id }}/update">Update task</a>
                <a type="button" class="btn btn-outline-danger" href="{{ object.id }}/delete">Delete task</a>
    </div>

    <div class="col-md-3 offset-md-3">
        {% if object.status == 1 %}
                <button type="button" class="btn btn btn-primary" style="float:right;" disabled>Active</button>
        {% elif object.status == 2 %}
                <button type="button" class="btn btn btn-success" style="float:right;" disabled>Done</button>
        {% else %}
                <button type="button" class="btn btn btn-danger" style="float:right;" disabled>Not valid</button>
        {% endif %}
    </div>

  </div>

{% endblock %}