{% extends 'base.html' %}

{% block content %}

<div class="card bg-light mb-3">
    <p
        {% if object.color == 0 %}
            class="p-3 mb-2 bg-light text-dark card-header"
        {% elif object.color == 1 %}
            class="p-3 mb-2 bg-white text-dark card-header"
        {% elif object.color == 2 %}
            class="p-3 mb-2 bg-primary text-white card-header"
        {% elif object.color == 3 %}
            class="p-3 mb-2 bg-danger text-white card-header"
        {% elif object.color == 4 %}
            class="p-3 mb-2 bg-warning text-dark card-header"
        {% endif %}
    >
        {{ object.title }}</p>

      <div class="card-body">
        <p class="card-text">{{ object.description }}</p>
      </div>
</div>

  <div class="row">

    <div class="col-md-6">
        {% if object.status == 1 %}
                <a type="button" class="btn btn-outline-success" href="{{ object.id }}/close">Close task</a>
        {% endif %}
                <a type="button" class="btn btn-outline-primary" href="{{ object.id }}/update">Update task</a>
                <a type="button" class="btn btn-outline-danger" href="{{ object.id }}/delete">Delete task</a>
    </div>

    <div class="offset-md-3 col-md-3">

        {% if object.status == 1 %}
                <button type="button" class="btn btn btn-primary" disabled>Active</button>
        {% elif object.status == 2 %}
                <button type="button" class="btn btn btn-success" disabled>Done</button>
        {% else %}
                <button type="button" class="btn btn btn-danger" disabled>Not valid</button>
        {% endif %}
    </div>

  </div>

{% endblock %}