{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<form action='.' method='POST'>
    {% csrf_token %}
    <h1>Do you want to delete the task "{{ object.title }}"?</h1>

    <button type="button submit" class="btn btn-outline-danger">Yes</button>
    	<a href='/{{ object.id }}' class="btn btn-outline-primary">Cancel</a>
</form>

{% endblock %}

<a type="button" class="btn btn-outline-warning" href="{{ object.id }}/update">Update task</a>
<a type="button" class="btn btn-outline-danger" href="{{ object.id }}/delete">Delete task</a>